# App URL (auto-injected in AI Studio)
APP_URL="MY_APP_URL"

# Firebase Config (Get this from Firebase Console)
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""

# MongoDB Atlas URI
MONGODB_URI=""
